.tree-view
{
    -fx-background-color: white ;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.tree-view:focused
{
}

.tree-cell{
    -fx-background-color: white ;
    -fx-min-height: 40px;
}

.tree-cell:selected {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: #e6f7ff;
    -fx-font-size: 20px;
}

.tree-cell-main:selected
{
    -fx-background-color: white ;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
